<div ng-controller="nodeView" class="details marvel-view" ng-class="cluster.shards[node.name].status">
  <marvel-cluster-status cluster-state="dataSources.clusterState" source="dataSources.clusterStatus"></marvel-cluster-status>
  <div class="detail-metrics marvel-element">
    <h1>{{ node.name }}</h1>
    <div class="metrics marvel-element">
      <div ng-repeat="name in charts" class="marvel-element">
        <marvel-chart source="dataSources[name]" />
      </div>
    </div>
  </div>
  <div class="marvel-element">
    <marvel-shard-allocation id="nodeName" hide-ui="true" view="node" cluster="cluster" index-pattern="indexPattern"></marvel-shard-allocation>
  </div>
</div>

