body 
{
	background-color: #F5F3F3;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0e0e0e;
}

.prl-navigationBar
{
	background-image:url(images/navbar_bg.png);
	background-repeat:repeat-x;
	border-color: #CACDCF;
	border-style: solid;
	border-width: 1px; 
	padding-left:7px;
	padding-right:7px;
}

.prl-navigationItem
{
	width: 100px;
	outline: none;
	cursor: pointer;
	text-align:center;
	line-height: 48px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

.prl-navigationActive
{
	background-image:url(images/navbar_selected_bg.png);
	background-repeat:repeat-x;
	cursor: default !important;
	color: #0371a2;
}

.prl-navigationOver
{
	background-image:url(images/navbar_over_bg.png);
	background-repeat:repeat-x;
	color: #0371a2;
}

.prl-headerLabels 
{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00A3DF;
	height: 20px;
	margin:5px 0px 20px 5px; 
}

.prl-logoff
{
  width: 70px;
  height: 16px;
  background: url(images/logoff_link.png) no-repeat 0 0;
  overflow: hidden;
}

.prl-logoff:hover
{ 

  width: 70px;
  height: 16px;
  background: url(images/logoff_link.png) no-repeat 0 -16px;
}

.prl-textLink 
{
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #025473;
	text-decoration: none;
	
	outline: none;
}

.prl-textLink:link
{ 
	color: #025473 !important;
}

.prl-textLink:visited
{ 
	color: #025473 !important;
}

.prl-textLink:hover 
{ 
	color: #025473 !important;
	text-decoration: underline; 
}

.prl-textLink-disabled 
{
	cursor: default !important;
	opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
}

.prl-textLink-disabled:hover 
{ 
	text-decoration: none !important; 
}

.prl-viewport
{
	background-color: #F5F3F3;
}

.prl-dataSourcePanel 
{
	background-color: #FFFFFF;
	border-style:solid;
	border-width:1px;
	border-color:#B5B5B5;
}

.prl-dataSourceTree-node {
	cursor: pointer !important;
}

.prl-dataSourceTree-root-text 
{
	font-family: Verdana, sans-serif !important;
	font-size: 14px !important;
	font-weight: bold !important;
	color: #00A3DF;
}

.prl-dataSourceTree-sourceType-text 
{
	font-family: Verdana, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
}

.prl-dataSourceTree-source-text
{
	font-family: Verdana, sans-serif !important;
	font-size: 11px !important;
	font-weight: normal !important;
}

.prl-workAreaTabPanel 
{
	border-style:solid;
	border-width:0px;
	border-color:#B5B5B5;
	outline: none;
}

.prl-workAreaTabItem
{
	padding:5px;	
}

.prl-border-layout-ct
{
	position: relative;
	background-color:#FFFFFF;
}

.prob-progress-wrap {
	/*padding:20px 3px 3px 5px;*/
    border:1px solid #6593cf;
    overflow:hidden;
    padding:0px;
}

.prob-progress-inner {
    height:13px;
    background: #e0e8f3 url(splash/gxt/images/default/qtip/bg.gif) repeat-x;
    position:relative;
}

.probcause {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
	cursor: hand;//IE fix
}

.icon-calendar {
  background: url(splash/gxt/images/default/shared/calendar.gif) no-repeat center left !important;
}

.time-picker-time-panel {
	padding: 5px 5px 5px 5px;	
}

.gwt-ValueSpinner .arrows {
	width: 17px;
	height: 18px;
	margin-left: 1px;
}

.gwt-ValueSpinner .textBox {
	border: 0px;
	text-align: right;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
	border: 1px solid #7F9DB9;
	padding: 1px;
}

.prl-combo-list{border:1px solid #98c0f4;background:#ddecfe;zoom:1;overflow:hidden;}
.prl-combo-list-inner{overflow:auto;background:white;position:relative;zoom:1;overflow-x:hidden;}
.prl-combo-list-hd{font:bold 11px tahoma,arial,helvetica,sans-serif;color:#15428b;background-image:url(splash/gxt/images/default/layout/panel-title-light-bg.gif);border-bottom:1px solid #98c0f4;padding:3px;}
.prl-combo-list-inner{border-bottom:1px solid #98c0f4;}
.prl-combo-list-item{font:normal 11px arial,tahoma,helvetica,sans-serif;padding:2px;border:1px solid #fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.prl-combo-list .x-combo-selected{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}
.prl-combo-list{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}

.prl-combo-label {
	padding: 3px 0px 3px 0px;
	font:normal 11px arial,tahoma,helvetica,sans-serif;
	color: black;
}


.prl-suggestBoxPopup {
  margin-left: 3px;
}
.prl-suggestBoxPopup .item {
  cursor: default;
  font:normal 11px arial,tahoma,helvetica,sans-serif;
  padding:2px;border:1px solid #fff;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.prl-suggestBoxPopup .item-selected {
  border:1px dotted #a3bae9!important;
  background:#DFE8F6;
  cursor:pointer;
}

.prl-suggestBoxPopup .suggestPopupContent {
  background: white;
  border:1px dotted #a3bae9!important;
}

.prl-anomaly-slider .x-slider-horz {
    background:url(images/severity_slider_bg.png) no-repeat 0 0 !important;
}

.prl-anomaly-slider .x-slider-horz .x-slider-inner {
   	background-image:url(images/severity_slider_bg.png);
   	background-position: -7 0px;
   	width: 196px;
}

.prl-anomaly-slider .x-slider-end {
    background-image:url(images/severity_slider_bg.png);
   	background-position: -7 0px !important;
   	width: 203px !important;
}

/* Background colours for grid rows based on severity */

.severity_clear  {
	background-color: #00CD00;
}

.severity_unknown {
	background-color: #B23AEE;
}

.severity_warning {
   background-color: #63B8FF;
}

.severity_minor {
    background-color: #FFFF00;
}

.severity_major {
   background-color: #FFB429;
}

.severity_critical {
    background-color: #FF0000;
}

.severity_clear_selected  {
	background-color: #000000;
	color: #00CD00;
}

.severity_unknown_selected {
	background-color: #000000;
	color: #B23AEE;
}

.severity_warning_selected {
	background-color: #000000;
   color: #63B8FF;
}

.severity_minor_selected {
	background-color: #000000;
    color: #FFFF00;
}

.severity_major_selected {
	background-color: #000000;
    color: #FFB429;
}

.severity_critical_selected {
	background-color: #000000;
    color: #FF0000;
}

.severity_none_selected {
	background-color: #000000;
    color: #FFFFFF;
}

.prl-incident-toolbar {
	background:#ffffff;
	padding:3px 5px;
}

/* Styling for time series GChart */
.prl-timeSeriesChart td {
   font-family: Verdana, sans-serif !important; 
   font-size: 10px !important;
 }

.prl-timeSeriesChart-title {
   font-family: Verdana, sans-serif; 
   font-size: 12px;
   font-weight: bold;
   color: #15428b;
   padding-left: 5px;
   padding-top: 1px;
}

.prl-timeSeriesChart-subtitle {
   font-family: Verdana, sans-serif; 
   font-size: 9px;
   font-weight: bold;
   color: #15428b;
   padding-left: 5px;
   padding-bottom: 10px;
}

.prl-timeSeriesChart-btnZoomIn
{
	background: url(images/zoom_in.png) no-repeat 0 0;
	padding-left: 20px;
	height: 16px;
}

.prl-timeSeriesChart-btnZoomOut
{
	background: url(images/zoom_out.png) no-repeat 0 0;
	padding-left: 20px;
	height: 16px;
}

.prl-timeSeriesChart-btnPanLeft
{
	background: url(splash/gxt/images/default/grid/page-prev.gif) no-repeat 0 0;
	padding-left: 15px;
	height: 16px;
}

.prl-timeSeriesChart-btnPanRight
{
	background: url(splash/gxt/images/default/grid/page-next.gif) no-repeat 0 0;
	padding-left: 15px;
	height: 16px;
}

.prl-timeSeriesChart-cb-label 
{
	font: normal 11px arial, sans-serif !important;
	color: #025473;
	width: auto !important;
	float: none !important;
	clear: none !important;
	display: inline !important;
	vertical-align: 2px !important;
}

.prl-causalityList-option
{ 
	font-family: Arial, sans-serif; 
   	font-size: 11px;
}

.prl-causalityList-option-first
{ 
	font-weight: bold;
}

td.prl-causalityList-option
{ 
	padding-left: 10px;
}

.x-grid3-body .x-grid3-td-prl-groupChecker
{
  background: transparent repeat-y right;
}

.x-grid3-body .x-grid3-td-prl-groupChecker .x-grid3-cell-inner,.x-grid3-header .x-grid3-td-prl-groupChecker .x-grid3-hd-inner 
{
  padding: 0 !important;
  height: 100%;
}

.x-grid3-row-prl-groupChecker
{
  width: 100%;
  height: 18px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.x-grid3-body .x-grid3-td-prl-groupChecker 
{
	background-image: url(splash/gxt/images/default/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-row-selected .x-grid3-td-prl-groupChecker
{
	background-image: url(splash/gxt/images/default/grid/grid3-special-col-sel-bg.gif);
}

img.prl-symbol { width: 10px; height: 10px; background-image: url(images/notifications_sprite.png); vertical-align: middle; }
.prl-symbol-sq-clear {background-position: 0 0;}
.prl-symbol-sq-unknown {background-position: -10 0px;}
.prl-symbol-sq-warning { background-position: -20 0px; }
.prl-symbol-sq-minor { background-position: -30 0px; }
.prl-symbol-sq-major { background-position: -40 0px; }
.prl-symbol-sq-critical { background-position: -50 0px; }

.prl-symbol-diam-clear { background-position: 0 -10px; }
.prl-symbol-diam-unknown { background-position: -10 -10px; }
.prl-symbol-diam-warning { background-position: -20 -10px; }
.prl-symbol-diam-minor { background-position: -30 -10px; }
.prl-symbol-diam-major { background-position: -40 -10px; }
.prl-symbol-diam-critical { background-position: -50 -10px; }

.prl-symbol-up-clear { background-position: 0 -20px; }
.prl-symbol-up-unknown { background-position: -10 -20px; }
.prl-symbol-up-warning { background-position: -20 -20px; }
.prl-symbol-up-minor { background-position: -30 -20px; }
.prl-symbol-up-major { background-position: -40 -20px; }
.prl-symbol-up-critical { background-position: -50 -20px; }

.prl-symbol-down-clear { background-position: 0 -30px; }
.prl-symbol-down-unknown { background-position: -10 -30px; }
.prl-symbol-down-warning { background-position: -20 -30px; }
.prl-symbol-down-minor { background-position: -30 -30px; }
.prl-symbol-down-major { background-position: -40 -30px; }
.prl-symbol-down-critical { background-position: -50 -30px; }

.prl-symbol-dbh-clear { background-position: 0 -40px; }
.prl-symbol-dbh-unknown { background-position: -10 -40px; }
.prl-symbol-dbh-warning { background-position: -20 -40px; }
.prl-symbol-dbh-minor { background-position: -30 -40px; }
.prl-symbol-dbh-major { background-position: -40 -40px; }
.prl-symbol-dbh-critical { background-position: -50 -40px; }

.prl-symbol-dbv-clear { background-position: 0 -50px; }
.prl-symbol-dbv-unknown { background-position: -10 -50px; }
.prl-symbol-dbv-warning { background-position: -20 -50px; }
.prl-symbol-dbv-minor { background-position: -30 -50px; }
.prl-symbol-dbv-major { background-position: -40 -50px; }
.prl-symbol-dbv-critical { background-position: -50 -50px; }

.prl-symbol-cir-clear { background-position: 0 -60px; }
.prl-symbol-cir-unknown { background-position: -10 -60px; }
.prl-symbol-cir-warning { background-position: -20 -60px; }
.prl-symbol-cir-minor { background-position: -30 -60px; }
.prl-symbol-cir-major { background-position: -40 -60px; }
.prl-symbol-cir-critical { background-position: -50 -60px; }

.prl-symbol-crs-clear { background-position: 0 -70px; }
.prl-symbol-crs-unknown { background-position: -10 -70px; }
.prl-symbol-crs-warning { background-position: -20 -70px; }
.prl-symbol-crs-minor { background-position: -30 -70px; }
.prl-symbol-crs-major { background-position: -40 -70px; }
.prl-symbol-crs-critical { background-position: -50 -70px; }

.prl-symbol-x-clear { background-position: 0 -80px; }
.prl-symbol-x-unknown { background-position: -10 -80px; }
.prl-symbol-x-warning { background-position: -20 -80px; }
.prl-symbol-x-minor { background-position: -30 -80px; }
.prl-symbol-x-major { background-position: -40 -80px; }
.prl-symbol-x-critical { background-position: -50 -80px; }

.prl-symbol-star-clear { background-position: 0 -90px; }
.prl-symbol-star-unknown { background-position: -10 -90px; }
.prl-symbol-star-warning { background-position: -20 -90px; }
.prl-symbol-star-minor { background-position: -30 -90px; }
.prl-symbol-star-major { background-position: -40 -90px; }
.prl-symbol-star-critical { background-position: -50 -90px; }

img.prl-symbolLine { width: 24px; height: 2px; background-image: url(images/chart_lines_sprite.png); vertical-align: middle; }
.prl-symbolLine-navy { background-position: 0 0; }
.prl-symbolLine-red { background-position: 0 -3px; }
.prl-symbolLine-orange { background-position:0 -6px; }
.prl-symbolLine-darkgreen { background-position: 0 -9px; }
.prl-symbolLine-purple { background-position: 0 -12px; }
.prl-symbolLine-dodgerblue { background-position: 0 -15px; }
.prl-symbolLine-maroon { background-position: 0 -18px; }
.prl-symbolLine-goldenrod { background-position: 0 -21px; }
.prl-symbolLine-lime { background-position: 0 -24px; }
.prl-symbolLine-magenta { background-position: 0 -27px; }
.prl-symbolLine-cyan { background-position: 0 -30px; }
.prl-symbolLine-indianred { background-position: 0 -33px; }
.prl-symbolLine-orangered { background-position: 0 -36px; }
.prl-symbolLine-greenyellow { background-position: 0 -39px; }
.prl-symbolLine-indigo { background-position: 0 -42px; }
.prl-symbolLine-blue { background-position: 0 -45px; }
.prl-symbolLine-darkred { background-position: 0 -48px; }
.prl-symbolLine-gold { background-position: 0 -51px; }
.prl-symbolLine-green { background-position: 0 -54px; }
.prl-symbolLine-violet { background-position: 0 -57px; }

img.prl-symbol-cir-48 { width: 48px; height: 48px; background-image: url(images/incident_symbols_48.png);  }
.prl-symbol-cir-48-0 { background-position: 0 0px; }
.prl-symbol-cir-48-1 { background-position: -48 0px; }
.prl-symbol-cir-48-2 { background-position: -96 0px; }
.prl-symbol-cir-48-3 { background-position: -144 0px; }
.prl-symbol-cir-48-4 { background-position: -192 0px; }
.prl-symbol-cir-48-5 { background-position: -240 0px; }
.prl-symbol-cir-48-6 { background-position: -288 0px; }
.prl-symbol-cir-48-7 { background-position: -336 0px; }
.prl-symbol-cir-48-8 { background-position: -384 0px; }
.prl-symbol-cir-48-9 { background-position: -432 0px; }
.prl-symbol-cir-48-10 { background-position: -480 0px; }
.prl-symbol-cir-48-11 { background-position: -528 0px; }
.prl-symbol-cir-48-12 { background-position: -576 0px; }
