/** Add css rules here for your application. */

body 
{
   background-color: #080033;
}

#stateview-win-shortcut img {
    width: 48px;
    height: 34px;
    background-image: url(desktop/images/icons/ic_stateView.png);
}

#evidencelog-win-shortcut img {
    width: 48px;
    height: 34px;
    background-image: url(desktop/images/icons/ic_evidenceLog.png);
}

#list-sec-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_sec48.png);
}

#line-graph-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/line_graph48.png);
}

#bar-graph-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/bar_graph48.png);
}

.list-sec-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_sec16.png) !important;
}

.line-graph-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/line_graph16.png) !important;
}

.bar-graph-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/bar_graph16.png) !important;
}

/** Example rules used by the template application (remove for your app) */
.pc-template-btn 
{
  display: block;
  font-size: 16pt
}

#pc-template-img 
{
  margin-top: 20px;
}

/* Background colours for grid rows based on severity */

.severity_Clear  {
	background-color: #00CD00;
}

.severity_Unknown {
	background-color: #B23AEE;
}

.severity_Warning {
   background-color: #63B8FF;
}

.severity_Minor {
    background-color: #FFFF00;
}

.severity_Major {
   background-color: #FFB429;
}

.severity_Critical {
    background-color: #FF0000;
}


.severity_clear_selected  {
	background-color: #000000;
	color: #00CD00;
}

.severity_unknown_selected {
	background-color: #000000;
	color: #B23AEE;
}

.severity_warning_selected {
	background-color: #000000;
   color: #63B8FF;
}

.severity_minor_selected {
	background-color: #000000;
    color: #FFFF00;
}

.severity_major_selected {
	background-color: #000000;
    color: #FFB429;
}

.severity_critical_selected {
	background-color: #000000;
    color: #FF0000;
}

.severity_none_selected {
	background-color: #000000;
    color: #FFFFFF;
}



/* Keep these in until the state table severity column is updated. */
.severity_TRIVAL  {
background-color: #00CD00;
}

.severity_MEDIUM {
   background-color: #63B8FF;
}

.severity_URGENT {
    background-color: #ff0000;
}


.probcause {
	vertical-align: middle;
}

.showInfoLink {
	text-decoration: underline;
}

.cursor-pointer {
	cursor: pointer;
	cursor: hand;//IE fix
}


.icon-calendar {
  background: url(desktop/images/calendar.gif) no-repeat center left !important;
}

.tool-radio-button
{ 
	vertical-align: middle;
}


.chartAxisLabel
{
	font: 10px arial;
}


 .gchart-GChart {
   background-color: #FFFFFF;   /* setBackgroundColor("#DDF"); */
   border-width: 1px;         /* setBorderWidth("1px"); */
   border-color: black;       /* setBorderColor("black"); */ 
   border-style: none;       /* setBorderStyle("solid");  */ 
   font-family: Arial, sans-serif;  /* setFontFamily("Arial, sans-serif"); */
   font-size: 8px;
 }
 
  .peteGChart td {
   font-family: Arial, sans-serif;  /* setFontFamily("Arial, sans-serif"); */
   font-size: 10px;
   color: black;
 }


.prob-progress-wrap {
	/*padding:20px 3px 3px 5px;*/
    border:1px solid #6593cf;
    overflow:hidden;
    padding:0px;
}
.prob-progress-inner {
    height:13px;
    background: #e0e8f3 url(images/default/qtip/bg.gif) repeat-x;
    position:relative;

}
.prob-progress-bar {
    height:13px;
    float:left;
    width:0;
    background:#9CBFEE url( images/default/progress/progress-bg.gif ) repeat-x left center;
    border-top:1px solid #D1E4FD;
    border-bottom:1px solid #7FA9E4;
    border-right:1px solid #7FA9E4;
}

.prob-progress-text {
    color:#274265;
    padding:1px 3px;
    position:absolute;
    left:0;
    text-align:center;
    line-height:11px;
}

.prob-progress-text-back {
    color:#274265;
    line-height:11px;
}
.ext-ie .prob-progress-text-back {
    line-height:11px;
}



/* Standard Ext JS styles for cell inner x-grid3-cell-inner, .x-grid3-hd-inner*/
.x-grid3-col-probability {
	overflow:hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
    padding:2px 3px 2px 5px;
    white-space: nowrap;
}
