<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
    <import resource="dataSource.xml"/>
    <import resource="prelertDAOs.xml"/>
    <import resource="plugins.xml" />
    <import resource="pluginLocator.xml"/>      
    
    <bean id="causalityServer" class="com.prelert.proxy.server.CausalityServerRMI">
        <property name="causalityDAO" ref="causalityDAO" />
        <property name="timeSeriesDAO" ref="timeSeriesDAO" />
        <property name="pluginLocator" ref="pluginLocator" />
        <property name="serverName" value="com.prelert.CausalityServer" />
    </bean>
    
    <bean id="dataSourceServer" class="com.prelert.proxy.server.DataSourceServerRMI">
        <property name="dataSourceDAO" ref="dataSourceDAO" />
        <property name="timeSeriesDAO" ref="timeSeriesDAO" />
        <property name="pluginLocator" ref="pluginLocator" />
        <property name="serverName" value="com.prelert.DataSourceServer" />
    </bean>

    <bean id="evidenceServer" class="com.prelert.proxy.server.EvidenceServerRMI">
        <property name="evidenceDAO" ref="evidenceDAO" />
        <property name="pluginLocator" ref="pluginLocator" />
        <property name="serverName" value="com.prelert.EvidenceServer" />
    </bean> 
    
    <bean id="incidentServer" class="com.prelert.proxy.server.IncidentServerRMI">
        <property name="incidentDAO" ref="incidentDAO" />
        <property name="pluginLocator" ref="pluginLocator" />
        <property name="serverName" value="com.prelert.IncidentServer" />
    </bean> 
    
    <bean id="timeSeriesServer" class="com.prelert.proxy.server.TimeSeriesServerRMI">
        <property name="timeSeriesDAO" ref="timeSeriesDAO" />
        <property name="pluginLocator" ref="pluginLocator" />
        <property name="evidenceServer" ref="evidenceServer" />
        <property name="serverName" value="com.prelert.TimeSeriesServer" />
    </bean>
    
	<bean id="userServer" class="com.prelert.proxy.server.UserServerRMI">
        <property name="userDAO" ref="userDAO" />
        <property name="serverName" value="com.prelert.UserServer" />
    </bean>                    
        
    <bean id="databaseManager" class="com.prelert.proxy.datamanager.DatabaseManager">
        <property name="databaseManagerDAO" ref="databaseManagerDAO" />
    </bean> 
    
    <bean id="configurationManager" class="com.prelert.proxy.configuration.ConfigurationManager">
    </bean> 
    
    <bean id="configurationServer" class="com.prelert.proxy.server.configuration.ConfigurationServerRMI">
        <property name="configurationManager" ref="configurationManager" />
        <property name="pluginLocator" ref="pluginLocator" />
        <property name="serverName" value="com.prelert.ConfigurationServer" />
    </bean> 
    
    <bean id="proxy" class="com.prelert.proxy.Proxy">
        <property name="configurationManager" ref="configurationManager" />
        <property name="databaseManager" ref="databaseManager" />
        <property name="pluginLocator" ref="pluginLocator" />
    </bean>
    

</beans>
