.metrics {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #EEE;
}
.metrics > div {
  -webkit-flex: 1 1 33.3%;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
  padding: 20px;
}
.metrics > div:first-child {
  border-right: 1px solid #EEE;
}
.metrics > div:last-child {
  border-left: 1px solid #EEE;
}
marvel-cluster-status > div {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #000000;
  line-height: 16px;
  background-image: linear-gradient(90deg, #79d415 0%, #00942b 100%);
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-cluster-status > div a.dropdown-toggle {
  color: #000000;
}
marvel-cluster-status > div.red {
  background-image: linear-gradient(90deg, #f60006 0%, #ff0007 63%, #a30000 100%);
}
marvel-cluster-status > div.yellow {
  background-image: linear-gradient(90deg, #fcec30 0%, #bf6f00 100%);
}
marvel-cluster-status > div > div {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
marvel-chart h4 {
  text-align: right;
  margin-bottom: 0;
}
marvel-chart h2 {
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}
marvel-chart .chart {
  min-height: 200px;
  background-color: #EEE;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-chart .chart > div {
  color: #CCC;
  font-size: 17px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
marvel-issues h3 {
  margin-top: 0;
}
marvel-issues h3 .count {
  font-size: 0.6em;
}
marvel-issues .fa-fire {
  color: #F60006;
}
marvel-issues .fa-warning {
  color: #F5A623;
}
marvel-issues li {
  padding-bottom: 5px;
}
marvel-issues li.no-results {
  text-align: center;
  color: #DDD;
}
marvel-issues li.no-results .fa {
  font-size: 80px;
}
marvel-issues li.no-results h6 {
  font-size: 28px;
}
marvel-shard-activity {
  display: block;
  padding: 20px;
}
marvel-shard-activity tr.red.done td {
  background-color: #FFF;
}
marvel-shard-activity tr.red td {
  background-color: rgba(255, 0, 0, 0.2);
}
marvel-shard-activity tr.yellow.done td {
  background-color: #FFF;
}
marvel-shard-activity tr.yellow td {
  background: rgba(245, 166, 35, 0.2);
}
marvel-shard-activity tr.done {
  color: #999;
}
marvel-shard-activity tr.done:hover {
  color: #333;
}
marvel-shard-activity td {
  vertical-align: middle !important;
}
marvel-shard-activity p {
  margin: 0;
}
marvel-shard-activity table {
  border-bottom: 2px solid #ecf0f1;
}
marvel-shard-activity h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
marvel-shard-activity h6 {
  font-size: 18px;
  margin: 0;
}
marvel-shard-activity .source-dest > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-shard-activity .source-dest > div > div {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-index-listing {
  display: block;
  padding: 20px;
}
marvel-index-listing table {
  border-bottom: 2px solid #ecf0f1;
}
marvel-index-listing td,
marvel-index-listing th {
  text-align: right;
}
marvel-index-listing td:first-child,
marvel-index-listing th:first-child {
  text-align: left;
}
marvel-index-listing td {
  font-size: 16px;
}
marvel-index-listing .pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-index-listing .pagination ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
marvel-index-listing .pagination li {
  padding: 0 5px;
  display: inline-block;
}
.marvel-settings form > .row {
  border-bottom: 1px solid #EEE;
}
.marvel-settings form > .row:first-child {
  border-top: 1px solid #EEE;
}
/***************************/
/****** MarvelCharts! ******/
/***************************/
/* Hide the vertical x-axis lines   */
.nv-axis.nv-x line {
  display: none;
}
/* Hide the Left most vertical line */
.nv-axis.nv-y .domain {
  display: none;
}
/* increase the line stroke width */
.nv-linesWrap .nv-line {
  stroke-width: 2.5px !important;
}
/* Make the min max ticks not bold */
.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal !important;
}
.nvd3 .nv-axis .nv-axisMaxMin text,
.nv-axis .tick > text {
  font-weight: normal !important;
  color: #444;
  fill: #444;
  font-size: 10px;
}
.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 1;
  stroke: #e5e5e5;
}
.issues {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #EEE;
}
.issues .view {
  padding: 40px;
}
.issues .view .issues-table {
  background-color: #FFF;
  padding: 10px 10px 0;
}
.issues .view td {
  font-size: 16px;
}
.issues .view .fa-bolt {
  color: #F60006;
}
.issues .view span.node,
.issues .view span.index,
.issues .view span.field {
  color: #000;
}
.issues .view span.node::after,
.issues .view span.index::after {
  content: ':';
}
.issues .view td {
  color: #888;
}
.issues .view .type {
  font-size: 14px;
  text-transform: capitalize;
}
.issues .view .fa-warning {
  color: #F5A623;
}
.issues .view .no-results {
  color: #CCC;
  text-align: center;
}
.issues .view .no-results h1 {
  margin-top: 0;
}
.issues .view .no-results .fa {
  font-size: 100px;
}
.issues .view div.filters {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #DDD;
  margin-bottom: 20px;
}
.issues .view div.filters .totals {
  color: #666;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: right;
  padding-right: 20px;
}
.issues .view div.filters .filter,
.issues .view div.filters .filter-label {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.issues .view div.filters .filter-label {
  color: #000;
  font-weight: bold;
  margin: 10px;
  padding: 0 0 0 10px;
}
.issues .view div.filters .filter {
  cursor: pointer;
  margin: 5px 1px;
  background-color: #EEE;
  color: #666;
  padding: 5px 10px;
  border: 1px solid #CCC;
}
.issues .view div.filters .filter .fa-warning,
.issues .view div.filters .filter .fa-bolt {
  color: #666;
}
.issues .view div.filters .filter.active {
  background-color: #1FA5DE;
  color: #FFF;
}
.issues .view div.filters .filter.active.red {
  background-color: #C00;
}
.issues .view div.filters .filter.active.red .fa-warning,
.issues .view div.filters .filter.active.red .fa-bolt {
  color: #FFF;
}
.issues .view div.filters .filter.active.yellow {
  background-color: #F5A623;
  color: #000;
}
.issues .view div.filters .filter.active.yellow .fa-warning,
.issues .view div.filters .filter.active.yellow .fa-bolt {
  color: #000;
}
