<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
						
	<!-- the parent application context definition for the Prelert application -->
		
	<bean id="evidenceDAO" class="demo.app.dao.EvidenceSingleAttrDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="exceptionDAO" class="demo.app.dao.ExceptionDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="causalityDAO" class="demo.app.dao.CausalityViewDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="timeSeriesDAO" class="demo.app.dao.TimeSeriesMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userUsageViewDAO" class="demo.app.dao.UserUsageViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="serviceUsageViewDAO" class="demo.app.dao.ServiceUsageViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="ipcUsageViewDAO" class="demo.app.dao.IPCUsageViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="viewDirectory" class="demo.app.server.FileViewDirectory" init-method="init">
		<property name="configFile" value="config/views_cs.xml"/>
	</bean>
 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
<!--		<property name="url" value="jdbc:mysql://192.168.1.210/cs_new"/>-->
<!--		<property name="url" value="jdbc:mysql://localhost/statestreet"/>-->
		<property name="url" value="jdbc:mysql://localhost/cs_1803"/> 
		<property name="username" value="root"/>
		<property name="password" value="root123"/>
		<property name="testOnBorrow" value="true"/>
		<property name="validationQuery" value="select 1"/>
	</bean>
	

</beans>