<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
						
	<!-- the parent application context definition for the Prelert application -->
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/cs_small"/>
		<property name="username" value="root"/>
		<property name="password" value="root123"/>
		<property name="testOnBorrow" value="true"/>
		<property name="validationQuery" value="select 1"/>
	</bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="viewDirectory" class="com.prelert.server.ViewDirectory" init-method="init">
		<property name="configFile" value="config/views.xml"/>
	</bean>
	
	<bean id="listViewDAO" class="com.prelert.dao.ListViewJdbcDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="evidenceViewDAO" class="com.prelert.dao.EvidenceViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="exceptionViewDAO" class="com.prelert.dao.ExceptionViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="causalityDAO" class="com.prelert.dao.CausalityViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="timeSeriesDAO" class="com.prelert.dao.TimeSeriesMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userUsageViewDAO" class="com.prelert.dao.UserUsageViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="serviceUsageViewDAO" class="com.prelert.dao.ServiceUsageViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="ipcUsageViewDAO" class="com.prelert.dao.IPCUsageViewMySQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>