#include <Windows.h>

1 VERSIONINFO
    FILEVERSION    PRELERT_VERSION,PRELERT_PATCH
    PRODUCTVERSION PRELERT_VERSION,PRELERT_PATCH
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
    FILEFLAGS      (0 | PRELERT_FILEFLAGS)
    FILEOS         VOS_NT_WINDOWS32
    FILETYPE       PRELERT_FILETYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904E4"
        BEGIN
#if PRELERT_FILEFLAGS
            VALUE "Comments", PRELERT_BUILD_STR " by " PRELERT_USER
#else
            VALUE "Comments", PRELERT_BUILD_STR
#endif
            VALUE "CompanyName", "Elasticsearch BV"
            VALUE "FileDescription", PRELERT_FILENAME " (part of " RIGHT_CLICK_PRODUCT_NAME ")"
            VALUE "FileVersion", PRELERT_VERSION_STR
            VALUE "InternalName", PRELERT_NAME
            VALUE "LegalCopyright", "Copyright (c) " PRELERT_YEAR " Elasticsearch BV"
#if 0
            VALUE "LegalTrademarks", "TODO"
#endif
            VALUE "OriginalFilename", PRELERT_FILENAME
#if PRELERT_FILEFLAGS
            VALUE "PrivateBuild", "Built by " PRELERT_USER
#endif
            VALUE "ProductName", RIGHT_CLICK_PRODUCT_NAME
            VALUE "ProductVersion", PRELERT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0809, 1252
    END
END

2 ICON PRELERT_ICON

