@charset "UTF-8";
/* CSS Document */

html,body {
	height:100%;
	padding: 0px;
	margin: 0px;
	
	color: #333333;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

#container {
	width: 912px;
	height:100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
	
#top { 
	width:912px; 
	height: 102px;
	background-image: url(../images/bg_top.png);
	background-repeat: no-repeat;
	padding-right: 56px;
	padding-left: 56px; 
}
	
#middle { 
	width:530px; 
	height:300px; 
	background-image: url(../images/bg.png);
	background-repeat: repeat-y;
	padding-right: 191px;
	padding-left: 191px; 
}
	
#bottom { 
	width: 912px; 
	height:10%; 
	background-image: url(../images/bg_end.png);
	background-repeat: no-repeat;
	text-align: center;
}

#body_top {
	width: 530px;
	height: 70px;
}

#body {
	width: 530px;
	height: 140px;
	float: left;
	background-image: url(../images/bg_body_mid.png);
	background-repeat: repeat-y;
	padding-left: 20px;
	padding-right: 20px;
}

#body_end {
	width: 530px;
	height: 90px;
	float: left;
	background-image: url(../images/bg_body_end.png);
	background-repeat: no-repeat;
}

div.centered 
{
	text-align: center;
}

div.centered table 
{
	margin: 0 auto; 
	text-align: center;
}

.prl-form input
{
	color: #333333;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.prl-footerText
{
	font-size: 10px;
	font-weight: normal;
	color: #444444;
}

	
