/** Add css rules here for your application. */

body 
{
    background-color: #080033;
    background-image: url(desktopapp/desktop/images/prelert_watermark.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}

#stateview-win-shortcut img {
    width: 48px;
    height: 34px;
    background-image: url(desktopapp/desktop/images/icons/ic_stateView.png);
}

#evidencelog-win-shortcut img {
    width: 48px;
    height: 34px;
    background-image: url(desktopapp/desktop/images/icons/ic_evidenceLog.png);
}

#list-sec-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_sec48.png);
}

#list-exception-win-shortcut img {
    width: 48px;
    height: 36px;
    background-image: url(desktopapp/desktop/images/icons/exception_list_sec48.png);
}

#line-graph-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktopapp/desktop/images/icons/line_graph48.png);
}

#bar-graph-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktopapp/desktop/images/icons/bar_graph48.png);
}

#prob-cause-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktopapp/desktop/images/icons/prob_cause_list48.png);
}

.list-week-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_week16.png) !important;
}

.list-day-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_day16.png) !important;
}

.list-hour-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_hour16.png) !important;
}

.list-min-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_min16.png) !important;
}

.list-sec-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_sec16.png) !important;
}

.list-exception-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/exception_list_sec16.png) !important; 
}

.line-graph-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/line_graph16.png) !important;
}

.bar-graph-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktopapp/desktop/images/icons/bar_graph16.png) !important;
}

.prob-cause-win-icon {
	width: 18px;
    height: 15px;
    background-image: url(desktopapp/desktop/images/icons/prob_cause_list18.png) !important;
}

#list-evidence-win-shortcut img {
    width: 48px;
    height: 36px;
    background-image: url(desktopapp/desktop/images/icons/evidence_list_week48.png);
}


/** Example rules used by the template application (remove for your app) */
.pc-template-btn 
{
  display: block;
  font-size: 16pt
}

#pc-template-img 
{
  margin-top: 20px;
}

/* Background colours for grid rows based on severity */

.severity_Clear  {
	background-color: #00CD00;
}

.severity_Unknown {
	background-color: #B23AEE;
}

.severity_Warning {
   background-color: #63B8FF;
}

.severity_Minor {
    background-color: #FFFF00;
}

.severity_Major {
   background-color: #FFB429;
}

.severity_Critical {
    background-color: #FF0000;
}


.severity_clear_selected  {
	background-color: #000000;
	color: #00CD00;
}

.severity_unknown_selected {
	background-color: #000000;
	color: #B23AEE;
}

.severity_warning_selected {
	background-color: #000000;
   color: #63B8FF;
}

.severity_minor_selected {
	background-color: #000000;
    color: #FFFF00;
}

.severity_major_selected {
	background-color: #000000;
    color: #FFB429;
}

.severity_critical_selected {
	background-color: #000000;
    color: #FF0000;
}

.severity_none_selected {
	background-color: #000000;
    color: #FFFFFF;
}



/* Keep these in until the state table severity column is updated. */
.severity_TRIVAL  {
background-color: #00CD00;
}

.severity_MEDIUM {
   background-color: #63B8FF;
}

.severity_URGENT {
    background-color: #ff0000;
}

.probcause {
	cursor: pointer;
}

.probcauseListLink {
	color: #385F95; 
	text-decoration: none;
}

.showInfoLink {
	text-decoration: underline;
}

.cursor-pointer {
	cursor: pointer;
	cursor: hand;//IE fix
}


.icon-calendar {
  background: url(desktopapp/desktop/images/calendar.gif) no-repeat center left !important;
}

.icon-grid {
    background-image:url(desktopapp/desktop/images/grid.png ) !important;
}

.tool-radio-button
{ 
	vertical-align: middle;
}


.chartAxisLabel
{
	font: 10px arial;
}


.gchart-GChart {
   background-color: #FFFFFF;   /* setBackgroundColor("#DDF"); */
   border-width: 1px;         /* setBorderWidth("1px"); */
   border-color: black;       /* setBorderColor("black"); */ 
   border-style: none;       /* setBorderStyle("solid");  */ 
   font-family: Arial, sans-serif;  /* setFontFamily("Arial, sans-serif"); */
   font-size: 8px;
 }
 
 .usage-chart td {
   font-family: Arial, sans-serif;  /* setFontFamily("Arial, sans-serif"); */
   font-size: 10px;
   color: black;
 }


.prob-progress-wrap {
	/*padding:20px 3px 3px 5px;*/
    border:1px solid #6593cf;
    overflow:hidden;
    padding:0px;
}
.prob-progress-inner {
    height:13px;
    background: #e0e8f3 url(desktopapp/images/default/qtip/bg.gif) repeat-x;
    position:relative;
}

.prob-progress-bar {
    height:13px;
    float:left;
    width:0;
    background:#9CBFEE url( desktopapp/images/default/progress/progress-bg.gif ) repeat-x left center;
    border-top:1px solid #D1E4FD;
    border-bottom:1px solid #7FA9E4;
    border-right:1px solid #7FA9E4;
}

.prob-progress-text {
    color:#274265;
    padding:1px 3px;
    position:absolute;
    left:0;
    text-align:center;
    line-height:11px;
}

.prob-progress-text-back {
    color:#274265;
    line-height:11px;
}
.ext-ie .prob-progress-text-back {
    line-height:11px;
}


.time-picker-time-panel {
	padding: 5px 5px 5px 5px;	
}

.gwt-ValueSpinner .arrows {
	width: 17px;
	height: 18px;
	margin-left: 1px;
}

.gwt-ValueSpinner .textBox {
	border: 0px;
	text-align: right;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
	border: 1px solid #7F9DB9;
	padding: 1px;
}



.prelert-combo-list{border:1px solid #98c0f4;background:#ddecfe;zoom:1;overflow:hidden;}
.prelert-combo-list-inner{overflow:auto;background:white;position:relative;zoom:1;overflow-x:hidden;}
.prelert-combo-list-hd{font:bold 11px tahoma,arial,helvetica,sans-serif;color:#15428b;background-image:url(../images/default/layout/panel-title-light-bg.gif);border-bottom:1px solid #98c0f4;padding:3px;}
.prelert-combo-list-inner{border-bottom:1px solid #98c0f4;}
.prelert-combo-list-item{font:normal 11px arial,tahoma,helvetica,sans-serif;padding:2px;border:1px solid #fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.prelert-combo-list .x-combo-selected{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}
.prelert-combo-list{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}

.prelert-combo-label {
	padding: 3px 0px 3px 0px;
	font:normal 11px arial,tahoma,helvetica,sans-serif;
	color: black;
}


/* Standard Ext JS styles for cell inner x-grid3-cell-inner, .x-grid3-hd-inner*/
.x-grid3-col-probability {
	overflow:hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
    padding:2px 3px 2px 5px;
    white-space: nowrap;
}



.example-connector {
	border: 1px solid black;
	padding: 3px 3px;
	background-color: #FFB429;
	color: black;
	text-align: center;
	cursor: pointer;
}


.example-connector-selected {
	border: 2px solid black;
	padding: 3px 3px;
	background-color: #FFB429;
	color: black;
	text-align: center;
	cursor: pointer;
}
