<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
						
	<!-- The parent application context definition for the Prelert JAX-RS (Jersey) OData Query API -->

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">     
			<list>                
				<value>file:${prelert.home}/config/dbconfig.xml</value>
			</list>   
		</property>    
		<property name="propertiesPersister" ref="xmlFilePropertiesPersister" />
		<property name="ignoreResourceNotFound" value="true" />   
		<property name="searchSystemEnvironment" value="true" />   
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
		<property name="properties">
			<props>
				
				<prop key="port">5432</prop>
			</props>
		</property>
	</bean>
		
	<!-- BoneCP configuration -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://localhost:${port}/prelert" />
		<property name="username" value="${username}"/>
		<property name="connectionTestStatement" value="select 1"/>
		<property name="maxConnectionAgeInSeconds" value="3600"/>
	</bean>

	
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="xmlFilePropertiesPersister" class="com.prelert.web.XMLFilePropertiesPersister" />
		
	<bean id="causalityDAO" class="com.prelert.dao.postgresql.CausalityPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
    
	<bean id="evidenceDAO" class="com.prelert.dao.postgresql.EvidencePostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="incidentDAO" class="com.prelert.dao.postgresql.IncidentPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>	
	
	<bean id="dataStore" class="com.prelert.api.dao.DataStore">
		<property name="causalityDAO" ref="causalityDAO" />
		<property name="evidenceDAO" ref="evidenceDAO" />
		<property name="incidentDAO" ref="incidentDAO" />
	</bean>	
        
	<bean id="inputManagerDAO" class="com.prelert.proxy.inputmanager.dao.InputManagerPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>   


	<bean id="metricManager" class="com.prelert.api.MetricManager">
		<property name="inputManagerDAO" ref="inputManagerDAO" /> 
		<property name="host" value="localhost" />
	</bean>
    
	<bean id="configManager" class="com.prelert.api.ConfigurationManager">
		<property name="inputManagerDAO" ref="inputManagerDAO" /> 
	</bean>
</beans>
