marvel-chart {display: block;}
.marvel-chart,
marvel-chart {
  background-color: @white;
  border-top: @thick solid @esGray;
  padding: 15px;

  &.no-border { border-top: 0 none transparent; }


  .vis-canvas {
    padding: 0 5px 0 0;
    min-height: 150px;
    display: flex;
  }

  .loading {
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 18px;
    color: @esDarkGray;
  }

  .nvd3 {
    flex-grow: 1;
  }

}

/***************************/
/****** MarvelCharts! ******/
/***************************/

.jubilee {
  g {
    > line { stroke: #999; }
    > path { stroke: #444; }
  }
  .axis {
    text {
      font-size: 13px;
      color: #666977;
    }
    &.y {
      > path { display: none; }
      > line { stroke: #d1d2d6; }
    }
    &.x {
      > path { stroke: #232123; }
      > line { stroke: #eff0f1; }
      .domain { display: block; }
    }
  }
}

