<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
						
	<!-- The parent application context definition for the Prelert Demo UI application -->	
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">     
			<list>                
				<value>file:${prelert.home}/config/dbconfig.xml</value>
			</list>   
		</property>    
		<property name="propertiesPersister" ref="xmlFilePropertiesPersister" />
		<property name="ignoreResourceNotFound" value="true" />   
		<property name="searchSystemEnvironment" value="true" />   
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
		<property name="properties">
			<props>
				<!-- Default to 5432 for port if not specified in dbconfig.xml -->
				<prop key="port">5432</prop>
			</props>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:${port}/prelert_demo"/>
		<property name="username" value="${username}"/>
		<property name="testOnBorrow" value="true"/>
		<property name="validationQuery" value="select 1"/>
	</bean>
	
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="xmlFilePropertiesPersister" class="com.prelert.web.XMLFilePropertiesPersister" />
	
	
	<bean id="causalityDAO" class="com.prelert.dao.postgresql.CausalityPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dataSourceDAO" class="com.prelert.dao.postgresql.DataSourcePostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="evidenceDAO" class="com.prelert.dao.postgresql.EvidencePostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="incidentDAO" class="com.prelert.dao.postgresql.IncidentPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="timeSeriesDAO" class="com.prelert.dao.postgresql.TimeSeriesPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userDAO" class="com.prelert.dao.postgresql.UserPostgreSQLDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="viewDirectory" class="com.prelert.server.DatabaseViewDirectory" init-method="init">
		<constructor-arg type="boolean" value="false"/>
		<property name="dataSourceDAO" ref="dataSourceDAO" />
		<property name="evidenceDAO" ref="evidenceDAO"/>
		<property name="timeSeriesDAO" ref="timeSeriesDAO"/>
	</bean>

</beans>
