body {
    margin: 0px;
    color: black;
    font-size: 14px;
    font-family: calibri, tahoma,arial,verdana,sans-serif;
}

.prl-appHeader {
    background: url('../images/header_grad_bg.png') repeat-x ; 
    width: 100%; 
    height:55px; 
    padding:6px 0px 0px 5px;
}

.prl-appLogo {
    width: 113px;
    height: 43px; 
    background-image: url('../images/prelert_logo.png');
    background-repeat: no-repeat;
    float: left;
}

.prl-appLogoContainer h1 {
    display: none;
}

.prl-zoom-in-button {
    background-image: url('..images/zoom-in.png');
}

/* Anomaly table red row */
.prl-anomalyResultsTableSev1 .x-grid-cell {
    color: #1b1b1b;
    background-color:#fe5050;
}

/* Anomaly table mouseover red row */
.x-grid-row-over.prl-anomalyResultsTableSev1 .x-grid-cell {
     background-color:#bc1616 !important;
}

/* Anomaly table orange row */
.prl-anomalyResultsTableSev2 .x-grid-cell  {
    color: #1b1b1b;
    background-color:#fba740;
}

/* Anomaly table mouseover orange row */
.x-grid-row-over.prl-anomalyResultsTableSev2 .x-grid-cell {
    background-color:#bd6b07 !important;
}

/* Anomaly table yellow row */
.prl-anomalyResultsTableSev3 .x-grid-cell {
    color: #1b1b1b;
    background-color:#fbfb49;
}

/* Anomaly table mouseover yellow row */
.x-grid-row-over.prl-anomalyResultsTableSev3 .x-grid-cell {
    background-color:#ceb801 !important;
}

/* Anomaly table blue row */
.prl-anomalyResultsTableSev4 .x-grid-cell {
    color: #1b1b1b;
    background-color:#8bc8fb;
}

/* Anomaly table mouseover blue row */
.x-grid-row-over.prl-anomalyResultsTableSev4 .x-grid-cell {
    background-color:#378dd5 !important;
}

.prl-body-13 {
    background-color:#585a5d;
    color: #ffffff;
}

.prl-appHeader-13 {
    background-image: url('../images/header_grad_bg_13.png') ; 
    background-size:100% 50px;
    background-colora:#808388;
    width: 100%; 
    height:50px; 
    padding:6px 0px 0px 10px;
}

.prl-appLogo-13 {
    width: 95px;
    height: 40px; 
    background-image: url('../images/prelert-logo-white-40px.png');
    background-repeat: no-repeat;
    float: left;
}

.prl-title-13 {
    color: #ffffff;
}

.prl-bodycontent-13 {
    padding: 10px;
}

.x-grid-body {
   background: #171717 !important;
   border-color: #808388 !important;
}

.x-grid {
   border: none !important;
}

.x-panel-header-default {
    background: #171717 !important;
    border-color: #808388 !important;
}

.x-panel-header-default-top {
    box-shadow: #ffffff 0 0 0 0 inset !important;
}

.x-panel-header-text-container-default {
    color: #ffffff !important;
}
