/** Add css rules here for your application. */

body 
{
    background-color: #080033;
    background-image: url(desktop/images/prelert_watermark.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}

/* Desktop icon shortcuts for the different types of views */

#stateview-win-shortcut img {
    width: 48px;
    height: 34px;
    background-image: url(desktop/images/icons/ic_stateView.png);
}

#list-evidence-win-shortcut img {
    width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_week48.png);
}

#list-week-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_week48.png);
}

#list-day-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_day48.png);
}

#list-hour-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_hour48.png);
}

#list-min-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_min48.png);
}

#list-sec-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/evidence_list_sec48.png);
}

#list-exception-win-shortcut img {
    width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/exception_list_sec48.png);
}


/* Window icons for the different types of views */

.list-evidence-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_week16.png) !important; 
}

.list-week-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_week16.png) !important;
}

.list-day-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_day16.png) !important;
}

.list-hour-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_hour16.png) !important;
}

.list-min-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_min16.png) !important;
}

.list-sec-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/evidence_list_sec16.png) !important;
}

.list-exception-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/exception_list_sec16.png) !important; 
}


/* Desktop icons shortcuts for the Probable Cause, Probable Risk and Graph Views */

#prob-cause-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/prob_cause_list48_8.png);
}

#prob-risk-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/prob_risk_list48.png);
}

#line-graph-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/line_graph48.png);
}

#bar-graph-win-shortcut img
{
	width: 48px;
    height: 36px;
    background-image: url(desktop/images/icons/bar_graph48.png);
}

/* Window icons for the Probable Cause, Probable Risk and Graph Views */

.prob-cause-win-icon {
	width: 18px;
    height: 15px;
    background-image: url(desktop/images/icons/prob_cause_list18_8.png) !important;
}

.prob-risk-win-icon {
	width: 18px;
    height: 15px;
    background-image: url(desktop/images/icons/prob_risk_list18.png) !important;
}

.line-graph-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/line_graph16.png) !important;
}

.bar-graph-win-icon {
	width: 16px;
    height: 12px;
    background-image: url(desktop/images/icons/bar_graph16.png) !important;
}


/** Example rules used by the template application (remove for your app) */
.pc-template-btn 
{
  display: block;
  font-size: 16pt
}

#pc-template-img 
{
  margin-top: 20px;
}

/* Background colours for grid rows based on severity */

.severity_clear  {
	background-color: #00CD00;
}

.severity_unknown {
	background-color: #B23AEE;
}

.severity_warning {
   background-color: #63B8FF;
}

.severity_minor {
    background-color: #FFFF00;
}

.severity_major {
   background-color: #FFB429;
}

.severity_none {
	background-color: #FFFFFF;
}

.severity_critical {
    background-color: #FF0000;
}

.severity_clear_selected  {
	background-color: #000000;
	color: #00CD00;
}

.severity_unknown_selected {
	background-color: #000000;
	color: #B23AEE;
}

.severity_warning_selected {
	background-color: #000000;
   color: #63B8FF;
}

.severity_minor_selected {
	background-color: #000000;
    color: #FFFF00;
}

.severity_major_selected {
	background-color: #000000;
    color: #FFB429;
}

.severity_critical_selected {
	background-color: #000000;
    color: #FF0000;
}

.severity_none_selected {
	background-color: #000000;
    color: #FFFFFF;
}


/* Use vertical-align: middle; to align image and text */
.probcause {
	cursor: pointer;
}

.showInfoLink {
	text-decoration: underline;
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}


.icon-calendar {
  background: url(desktop/images/calendar.gif) no-repeat center left !important;
}


.usage-chart td {
   font-family: Arial, sans-serif;
   font-size: 10px;
   color: black;
 }
 
 
/* Styles for a progress bar in a list view probability column */
.prob-progress-wrap {
    border:1px solid #6593cf;
    overflow:hidden;
    padding:0px;
}

.prob-progress-inner {
    height:13px;
    background: #e0e8f3 url(images/default/qtip/bg.gif) repeat-x;
    position:relative;
}
.prob-progress-bar {
    height:13px;
    float:left;
    width:0;
    background:#9CBFEE url( images/default/progress/progress-bg.gif ) repeat-x left center;
    border-top:1px solid #D1E4FD;
    border-bottom:1px solid #7FA9E4;
    border-right:1px solid #7FA9E4;
}

.prob-progress-text {
    color:#274265;
    padding:1px 3px;
    position:absolute;
    left:0;
    text-align:center;
    line-height:11px;
}


.prelert-combo-list{border:1px solid #98c0f4;background:#ddecfe;zoom:1;overflow:hidden;}
.prelert-combo-list-inner{overflow:auto;background:white;position:relative;zoom:1;overflow-x:hidden;}
.prelert-combo-list-hd{font:bold 11px tahoma,arial,helvetica,sans-serif;color:#15428b;background-image:url(../images/default/layout/panel-title-light-bg.gif);border-bottom:1px solid #98c0f4;padding:3px;}
.prelert-combo-list-inner{border-bottom:1px solid #98c0f4;}
.prelert-combo-list-item{font:normal 11px arial,tahoma,helvetica,sans-serif;padding:2px;border:1px solid #fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.prelert-combo-list .x-combo-selected{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}
.prelert-combo-list{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}


/* Standard Ext JS styles for cell inner x-grid3-cell-inner, .x-grid3-hd-inner*/
.x-grid3-col-probability {
	overflow:hidden;
	text-overflow: ellipsis;
    padding:2px 3px 2px 5px;
    white-space: nowrap;
}
