/*
 * Licensed to Elasticsearch under one or more contributor
 * license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Elasticsearch licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

grant {
  // needed for Windows named pipes
  permission java.io.FilePermission "\\\\.\\pipe\\*", "read,write";

  // needed for process to be spawned (should be removed later)
  permission java.io.FilePermission "${es.path.home}/plugins/prelert/platform/darwin-x86_64/bin/prelert_autodetect", "execute";
  permission java.io.FilePermission "${es.path.home}/plugins/prelert/platform/linux-x86_64/bin/prelert_autodetect", "execute";
  permission java.io.FilePermission "${es.path.home}/plugins/prelert/platform/windows-x86_64/bin/prelert_autodetect.exe", "execute";
};
