@charset "UTF-8";
/* CSS Document */

body {
	padding: 0px; margin: 0px; width: 100%; background: #d8d8d8;
}

html {
	padding: 0px; margin: 0px;
}

.main {
	padding: 0px; margin: 0px auto; width: 100%;
}

.header {
	padding: 0px; margin: 0px auto; background: #000000; border: 1px solid #000000; 
}

.block_header {
	padding: 0px; margin: 0px auto; border-top: medium none; border-right: medium none; border-bottom: medium none; border-left: medium none; width: 980px; 
}

.logo { float:left; padding:0px; margin:10px 0px 0px 0px; width:703px; height:108px; }


.clr {
	padding: 0px; margin: 0px; background: none transparent scroll repeat 0% 0%; CLEAR: both;
}

p.clr {
	padding: 0px; margin: 0px; background: none transparent scroll repeat 0% 0%; CLEAR: both;
}

.header_top_subpage {
	padding: 0px; margin: 0px; background: url(../../images/shared/orange_bg_subpage.png) repeat-x center top; height: 85px;
}

.header_top_subpage_resize {
	padding: 0px; margin: 0px auto; width: 980px;
}

.header_top_subpage_resize h2 {
	padding: 30px 0px 0px 10px; margin: 0px; font: 24px Arial, Helvetica, sans-serif; float: left; color: #fff; 
}

.body {
	padding: 20px 0px; margin: 30px;
}

.body_resize {
	padding: 0px; margin: 0px auto; width: 978px; height: 240px;  background: #fff; border-bottom: #e8e6e6 1px solid; border-left: #e8e6e6 1px solid; border-top: #e8e6e6 1px solid; border-right: #e8e6e6 1px solid;   
}

.body_small {
	padding: 0px; margin: 0px auto; width: 760px; height: 170px;  background: #fff; border-bottom: #e8e6e6 1px solid; border-left: #e8e6e6 1px solid; border-top: #e8e6e6 1px solid; border-right: #e8e6e6 1px solid;   
}

.body_resize a, .body_small a { 
	color:#0090d2; text-decoration:none; font: bold 12px Arial, Helvetica, sans-serif; 
}

.body_resize p, .body_small p { 
	font:normal 12px Arial, Helvetica, sans-serif; color:#646464; padding:5px 15px; margin:0; line-height:1.8em; 
}

.footer_resize {
	padding: 10px 0px; margin: 0px auto; width: 980px; background: url(../../images/shared/footer_bg.gif) no-repeat 50% top; height: 53px;
}

.footer {
	padding: 0px 0px 20px 0px; margin: 0px;
}

.footer p {
	font: 10px Arial, Helvetica, sans-serif; color: #c6c6c6
}

.footer p.leftt {
	padding: 5px 0px 0px 20px; margin: 0px; text-align: left; width: 50%; float: left;
}

.footer p.rightt {
	padding: 5px 20px 0px 0px; text-align: right; margin: 0px; width: 30%; float: right;
}

.footer_small_blank {
	padding: 0px; margin: 0px auto; width: 760px; height: 30px;
}

.left { 
	width:555px; float:left; margin-top:55px; padding:10px 15px; 
}

.left_narrow { 
	width:400px; float:left; margin-top:30px; padding:10px 15px; 
}

.right { 
	width:295px; float:right; margin-top:55px; padding:10px 10px;
}

.right_narrow { 
	width:295px; float:right; margin-top:30px; padding:10px 10px;
}

div.centered table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 55px auto; 
	text-align: center;
	color: #2b2b2b;
}

div.left table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #2b2b2b;
}

.prl-form input {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.prl-field-hint {
	font:italic 10px Arial, Helvetica, sans-serif; 
	text-align: left;
}
