body 
{
	background-color: #d8d8d8;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0e0e0e;
}

.prl-navigationBar
{
	background-color: black;
	padding-left:7px;
	padding-right:10px;
	height: 60px;
}

.prl-navigationItem
{
	width: 100px;
	outline: none;
	cursor: pointer;
	text-align:center;
	line-height: 48px;
	color:#f2f2f2; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.prl-navigationItem-disabled
{
	color: #696969 !important;
	cursor: default !important;
	opacity: .6;
	-moz-opacity: .6;
	filter: alpha(opacity =   60);
}

.prl-navigationActive
{
	cursor: default !important;
	color: #cb4e06;
}

.prl-navigationOver
{
	color: #cb4e06;
}

.prl-navigationBar .x-btn-tl, .prl-navigationBar .x-btn-tr, .prl-navigationBar .x-btn-tc,
.prl-navigationBar .x-btn-ml, .prl-navigationBar .x-btn-mr,.prl-navigationBar .x-btn-mc,
.prl-navigationBar .x-btn-bl,.prl-navigationBar .x-btn-br,.prl-navigationBar .x-btn-bc
{
    background:transparent;
}

.prl-navigationBar .x-btn-text
{
	color:#f2f2f2; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.prl-navigationBar .x-btn-noicon .x-btn-small .x-btn-text {
	height: 24px;
}

.prl-navigationBar .x-btn-over .x-btn-text, .prl-navigationBar .x-btn-click .x-btn-text, .prl-navigationBar .x-btn-menu-active .x-btn-text 
{
    color: #cb4e06;
}

.prl-navigationBar .x-btn-mc .x-btn-arrow {
    background-image:url(../../images/shared/btn_arrow_white.png);
}

.prl-navigationBar .x-btn-over .x-btn-mc .x-btn-arrow, .prl-navigationBar .x-btn-click .x-btn-mc .x-btn-arrow, .prl-navigationBar .x-btn-menu-active .x-btn-mc .x-btn-arrow {
    background-image:url(../../images/shared/btn_arrow_red.png);
}

.prl-navigationBar-menu
{
	background: #f2f2f2;
}

.prl-navigationBar-menu a.x-menu-item
{
	background: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 15px;
}

.prl-navigationBar-menu .x-menu-item-active {
	background: #d8d8d8;
	border: 1px solid #d8d8d8;
}

.prl-navigationBar-menu .x-menu-item-active a.x-menu-item
{
	background: #d8d8d8;
	color: #cb4e06;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 15px;
}

.prl-messageBanner
{
	background: #7d0101;	
	height: 20px;
	text-align:center;
	color:#f2f2f2; 
}

.prl-messageBanner a
{
	color:#f2f2f2; 
}

.prl-viewport
{
	position: relative;
	background-color: #d8d8d8;
}

.prl-textLink 
{
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #025473;
	text-decoration: none;
	
	outline: none;
}

.prl-textLink:link
{ 
	color: #025473 !important;
}

.prl-textLink:visited
{ 
	color: #025473 !important;
}

.prl-textLink:hover 
{ 
	color: #025473 !important;
	text-decoration: underline; 
}

.prl-textLink-disabled 
{
	cursor: default !important;
	opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
}

.prl-textLink-disabled:hover 
{ 
	text-decoration: none !important; 
}

.prl-border-layout-ct
{
	position: relative;
	background-color:#FFFFFF;
}

.prl-internal-toolbar {
	background:transparent;
}

.prl-internal-toolbar .x-btn-focus .x-btn-tl{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-tr{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-tc{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-ml{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-mr{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-mc{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-bl{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-br{
	background:transparent;
}
.prl-internal-toolbar .x-btn-focus .x-btn-bc{
	background:transparent;
}

.prl-title-label {
	background:#ffffff;
	padding: 3px 3px 2px 3px;
	margin-top:1px;
	overflow: hidden;
}

.prl-label-link {
	cursor: pointer;
}

.prl-analysis-link {
	cursor: pointer;
}

.prl-dataSourcePanel 
{
	background-color: #FFFFFF;
	border-style:solid;
	border-width:1px;
	border-color:#B5B5B5;
}

.prl-dataSourceTree-node {
	cursor: pointer !important;
}

.prl-dataSourceTree-root-text 
{
	font-family: Verdana, sans-serif !important;
	font-size: 14px !important;
	font-weight: bold !important;
	color: #00A3DF;
}

.prl-dataSourceTree-sourceType-text 
{
	font-family: Verdana, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
}

.prl-dataSourceTree-source-text
{
	font-family: Verdana, sans-serif !important;
	font-size: 11px !important;
	font-weight: normal !important;
}

.prl-metricPath-disabled {
   color: gray !important;
}

.prl-metricPathTree-grid-row .x-grid3-cell-inner  {
  padding: 2px 3px 2px 3px;
}

.prl-metricPathTree-grid-cell img
{
	width: 16px; 
	height: 16px; 
	border-style: none;
	border-width: 0px;
	vertical-align: middle;
	margin-right: 3px;
}

.prl-workAreaTabPanel 
{
	border-style:solid;
	border-width:0px;
	border-color:#B5B5B5;
	outline: none;
}

.prl-workAreaTabItem
{
	padding:5px;
}

.icon-calendar {
  background: url(../../gxt/images/default/shared/calendar.gif) no-repeat center left !important;
}

.time-picker-time-panel {
	padding: 5px 5px 5px 5px;	
}

.prl-combo-list{border:1px solid #98c0f4;background:#ddecfe;zoom:1;overflow:hidden;}
.prl-combo-list-inner{overflow:auto;background:white;position:relative;zoom:1;overflow-x:hidden;}
.prl-combo-list-hd{font:bold 11px tahoma,arial,helvetica,sans-serif;color:#15428b;background-image:url(../../gxt/images/default/layout/panel-title-light-bg.gif);border-bottom:1px solid #98c0f4;padding:3px;}
.prl-combo-list-inner{border-bottom:1px solid #98c0f4;}
.prl-combo-list-item{font:normal 11px arial,tahoma,helvetica,sans-serif;padding:2px;border:1px solid #fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.prl-combo-list .x-combo-selected{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}
.prl-combo-list{border:1px dotted #a3bae9!important;background:#DFE8F6;cursor:pointer;}
.prl-combo-selected { font:normal 11px arial,tahoma,helvetica,sans-serif;}

.prl-suggestBoxPopup {
  margin-left: 3px;
}
.prl-suggestBoxPopup .item {
  cursor: default;
  font:normal 11px arial,tahoma,helvetica,sans-serif;
  padding:2px;border:1px solid #fff;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.prl-suggestBoxPopup .item-selected {
  border:1px dotted #a3bae9!important;
  background:#DFE8F6;
  cursor:pointer;
}

.prl-suggestBoxPopup .suggestPopupContent {
  background: white;
  border:1px dotted #a3bae9!important;
}

.prl-anomaly-slider .x-slider-horz {
    background:url(../../images/shared/severity_slider_bg.png) no-repeat 0 0 !important;
}

.prl-anomaly-slider .x-slider-horz .x-slider-inner {
   	background-image:url(../../images/shared/severity_slider_bg.png);
   	background-position: -7px 0px;
   	width: 196px;
}

.prl-anomaly-slider .x-slider-end {
    background-image:url(../../images/shared/severity_slider_bg.png);
   	background-position: -7px 0px !important;
   	width: 203px !important;
}

/* Background colours for grid rows based on severity */

.severity_clear  {
	background-color: #00CD00;
}

.severity_unknown {
	background-color: #B23AEE;
}

.severity_warning {
   background-color: #63B8FF;
}

.severity_minor {
    background-color: #FFFF00;
}

.severity_major {
   background-color: #FFB429;
}

.severity_critical {
    background-color: #FF0000;
}

.severity_clear_selected  {
	background-color: #000000;
	color: #00CD00;
}

.severity_unknown_selected {
	background-color: #000000;
	color: #B23AEE;
}

.severity_warning_selected {
	background-color: #000000;
   color: #63B8FF;
}

.severity_minor_selected {
	background-color: #000000;
    color: #FFFF00;
}

.severity_major_selected {
	background-color: #000000;
    color: #FFB429;
}

.severity_critical_selected {
	background-color: #000000;
    color: #FF0000;
}

.severity_none_selected {
	background-color: #000000;
    color: #FFFFFF;
}

/* Styling for time series GChart */
.prl-timeSeriesChart td {
   font-family: Verdana, sans-serif !important; 
   font-size: 10px !important;
 }

.prl-timeSeriesChart-title {
   font-family: Arial, sans-serif !important; 
   font-size: 12px;
   font-weight: bold;
   padding: 0px 10px 0px 10px;
   color: #15428b;
}

.prl-timeSeriesChart-subtitle {
   font-family: Arial, sans-serif; 
   font-size: 11px;
   font-weight: bold;
   color: #15428b;
   padding: 0px 10px 0px 10px;
   white-space: nowrap;
}

.prl-checkbox-label 
{
	font: normal 11px arial, sans-serif !important;
	color: #333333;
	padding-left: 2px !important;
}

.prl-causalityList-option
{ 
	font-family: Arial, sans-serif; 
   	font-size: 11px;
}

.prl-causalityList-option-first
{ 
	font-weight: bold;
}

td.prl-causalityList-option
{ 
	padding-left: 10px;
}

.ext-ie .x-tip .x-tip-header,.ext-ie .x-tip .x-tip-tc 
{
	font-size: 0px;
	line-height: 1px !important;
}

.ext-ie .prl-transp-icon .x-item-disabled .x-btn-mc img {
	 filter: none !important;
}

.x-grid3-body .x-grid3-td-prl-groupChecker
{
  background: transparent repeat-y right;
}

.x-grid3-body .x-grid3-td-prl-groupChecker .x-grid3-cell-inner,.x-grid3-header .x-grid3-td-prl-groupChecker .x-grid3-hd-inner 
{
  padding: 0 !important;
  height: 100%;
}

.x-grid3-row-prl-groupChecker
{
  width: 100%;
  height: 18px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.x-grid3-body .x-grid3-td-prl-groupChecker 
{
	background-image: url(../../gxt/images/default/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-row-selected .x-grid3-td-prl-groupChecker
{
	background-image: url(../../gxt/images/default/grid/grid3-special-col-sel-bg.gif);
}

.prl-multilineGrid .x-grid3-cell-inner 
{
	white-space:  normal !important;
}

.x-tree3-el 
{
	white-space: nowrap;
	height: 21px;
	position: relative;
	width:100%; 
	overflow:hidden;
}

.ext-strict .ext-ie8 .x-tab-strip-top .x-tab-right,.ext-ie8 .x-tab-panel-header-plain .x-tab-strip-top .x-tab-right,.ext-ie8-compatibility .x-tab-panel-header-plain .x-tab-strip-top .x-tab-right
{
  top: 1px !important;
}

img.prl-symbol { width: 10px; height: 10px; background-image: url(../../images/shared/notifications_sprite.png); vertical-align: middle; }
.prl-symbol-sq-clear {background-position: 0 0;}
.prl-symbol-sq-unknown {background-position: -10px 0px;}
.prl-symbol-sq-warning { background-position: -20px 0px; }
.prl-symbol-sq-minor { background-position: -30px 0px; }
.prl-symbol-sq-major { background-position: -40px 0px; }
.prl-symbol-sq-critical { background-position: -50px 0px; }

.prl-symbol-diam-clear { background-position: 0 -10px; }
.prl-symbol-diam-unknown { background-position: -10px -10px; }
.prl-symbol-diam-warning { background-position: -20px -10px; }
.prl-symbol-diam-minor { background-position: -30px -10px; }
.prl-symbol-diam-major { background-position: -40px -10px; }
.prl-symbol-diam-critical { background-position: -50px -10px; }

.prl-symbol-up-clear { background-position: 0px -20px; }
.prl-symbol-up-unknown { background-position: -10px -20px; }
.prl-symbol-up-warning { background-position: -20px -20px; }
.prl-symbol-up-minor { background-position: -30px -20px; }
.prl-symbol-up-major { background-position: -40px -20px; }
.prl-symbol-up-critical { background-position: -50px -20px; }

.prl-symbol-down-clear { background-position: 0 -30px; }
.prl-symbol-down-unknown { background-position: -10px -30px; }
.prl-symbol-down-warning { background-position: -20px -30px; }
.prl-symbol-down-minor { background-position: -30px -30px; }
.prl-symbol-down-major { background-position: -40px -30px; }
.prl-symbol-down-critical { background-position: -50px -30px; }

.prl-symbol-dbh-clear { background-position: 0 -40px; }
.prl-symbol-dbh-unknown { background-position: -10px -40px; }
.prl-symbol-dbh-warning { background-position: -20px -40px; }
.prl-symbol-dbh-minor { background-position: -30px -40px; }
.prl-symbol-dbh-major { background-position: -40px -40px; }
.prl-symbol-dbh-critical { background-position: -50px -40px; }

.prl-symbol-dbv-clear { background-position: 0 -50px; }
.prl-symbol-dbv-unknown { background-position: -10px -50px; }
.prl-symbol-dbv-warning { background-position: -20px -50px; }
.prl-symbol-dbv-minor { background-position: -30px -50px; }
.prl-symbol-dbv-major { background-position: -40px -50px; }
.prl-symbol-dbv-critical { background-position: -50px -50px; }

.prl-symbol-cir-clear { background-position: 0 -60px; }
.prl-symbol-cir-unknown { background-position: -10px -60px; }
.prl-symbol-cir-warning { background-position: -20px -60px; }
.prl-symbol-cir-minor { background-position: -30px -60px; }
.prl-symbol-cir-major { background-position: -40px -60px; }
.prl-symbol-cir-critical { background-position: -50px -60px; }

.prl-symbol-crs-clear { background-position: 0 -70px; }
.prl-symbol-crs-unknown { background-position: -10px -70px; }
.prl-symbol-crs-warning { background-position: -20px -70px; }
.prl-symbol-crs-minor { background-position: -30px -70px; }
.prl-symbol-crs-major { background-position: -40px -70px; }
.prl-symbol-crs-critical { background-position: -50px -70px; }

.prl-symbol-x-clear { background-position: 0 -80px; }
.prl-symbol-x-unknown { background-position: -10px -80px; }
.prl-symbol-x-warning { background-position: -20px -80px; }
.prl-symbol-x-minor { background-position: -30px -80px; }
.prl-symbol-x-major { background-position: -40px -80px; }
.prl-symbol-x-critical { background-position: -50px -80px; }

.prl-symbol-star-clear { background-position: 0 -90px; }
.prl-symbol-star-unknown { background-position: -10px -90px; }
.prl-symbol-star-warning { background-position: -20px -90px; }
.prl-symbol-star-minor { background-position: -30px -90px; }
.prl-symbol-star-major { background-position: -40px -90px; }
.prl-symbol-star-critical { background-position: -50px -90px; }

img.prl-symbol-line { width: 24px; height: 2px; background-image: url(../../images/shared/rect_10_sprite.png); vertical-align: middle; }
img.prl-symbol-sq { width: 10px; height: 10px; background-image: url(../../images/shared/rect_10_sprite.png); vertical-align: middle; }
img.prl-symbol-diam { width: 10px; height: 10px; background-image: url(../../images/shared/diamond_10_sprite.png); vertical-align: middle; }
.prl-symbol-navy { background-position: 0 -2px; }
.prl-symbol-red { background-position: 0 -16px; }
.prl-symbol-orange { background-position:0 -30px; }
.prl-symbol-darkgreen { background-position: 0 -44px; }
.prl-symbol-purple { background-position: 0 -58px; }
.prl-symbol-dodgerblue { background-position: 0 -72px; }
.prl-symbol-maroon { background-position: 0 -86px;}
.prl-symbol-goldenrod { background-position: 0 -100px; }
.prl-symbol-lime { background-position: 0 -114px; }
.prl-symbol-magenta { background-position: 0 -128px; }
.prl-symbol-cyan { background-position: 0 -142px; }
.prl-symbol-indianred { background-position: 0 -156px; }
.prl-symbol-orangered { background-position: 0 -170px; }
.prl-symbol-greenyellow { background-position: 0 -184px; }
.prl-symbol-indigo { background-position: 0 -198px; }
.prl-symbol-blue { background-position: 0 -212px; }
.prl-symbol-darkred { background-position: 0 -226px; }
.prl-symbol-gold { background-position: 0 -240px; }
.prl-symbol-green { background-position: 0 -254px; }
.prl-symbol-violet { background-position: 0 -268px; }

img.prl-anomaly { width: 12px; height: 12px; vertical-align: middle;}
